doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(href='/stylesheets/bootstrap/bootstrap.css', rel='stylesheet', media='screen')
    // link(href='stylesheets/bootstrap/bootstrap-theme.css', rel='stylesheet', media='screen')
    script(type='text/javascript', src='/javascripts/jquery/jquery-2.1.1.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap/bootstrap3-typeahead.min.js')

  body
    block content
